name: Build, Push, and Deploy App

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GHCR_TOKEN }}

            - name: Build and push Frontend image
              uses: docker/build-push-action@v5
              with:
                  context: ./frontend
                  push: true
                  tags: ghcr.io/${{ github.repository }}-frontend:latest
                  build-args: |
                      VITE_API_URL=${{ vars.VITE_API_URL }}

            - name: Build and push API image
              uses: docker/build-push-action@v5
              with:
                  context: ./api
                  push: true
                  tags: ghcr.io/${{ github.repository }}-api:latest

            - name: Deploy to VPS
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                      cd ~/aplicaciones/penguin-movies
                      git pull origin main
                      docker compose pull
                      docker compose up -d --force-recreate
                      docker image prune -af
